---
---
@import "variables";

$Baloo: Baloo, Arial, sans-serif;

html,
body {
	touch-action: manipulation;
	touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: $Baloo;

	&.playing {
		overflow-y: hidden;
	}
}

#layout,
#layout_outer {
	height: 100%;
	display: flex;
}

#new_score_1 {
	font-size: 2.25em;
	text-align: center;
	margin-top: .6em;
}

#new_score_2,
#new_score_3 {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 1em;

	div {
		padding: 0 10%;
		line-height: 1.1;
		margin-bottom: .5em;
	}
}

body:not(.playing) #layout_outer,
body.playing #not_playing,
#new_score_1,
#new_score_2,
#new_score_3 {
	display: none;
}

body:not(.playing) #not_playing,
body.playing #layout_outer {
	display: flex;
}

body.new_score #new_score_1,
body.new_score.sending_score #new_score_2,
body.new_score.scores_err #new_score_3 {
	display: block;
}

#warning {
	color: transparentize(goldenrod, 0.2);
}

#start {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-y: auto;
	color: #FFF;
}

#not_playing > #restart {
	display: none;
}

#start #restart ~ * {
	display: none;
}

.statrow {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;

	& ~ & {
		margin-top: 1.7em;

		&:before {
			content: " ";
			position: absolute;
			width: 80%;
			height: .2em;
			top: -.95em;
			background: #FFF;
			opacity: .3;
		}
	}

	&:last-of-type {
		margin-bottom: .7em;
	}
}

.statcell {
	margin: 0 .5em;
	text-align: center;
}

.statcell > div:first-child,
#stat_row_line_piece .statcell > div:nth-child(2) {
	font-size: 2em;
	line-height: 1.05;
}

#stat_row_line_piece .statcell > div:nth-child(2) {
	margin-top: .2em;
}

.statcell > div:nth-child(2),
#stat_row_line_piece .statcell > div:first-child {
	font-size: 1.1em;
}

.statcellpiecegrid {
	display: grid;
	height: 2.8em;
	width: 4.2em;
	grid-gap: 1px;
	gap: 1px;
}

.statcellpiecegrid div {
	height: 1.4em;
	width: 1.4em;
	background-size: 0;
	position: relative;
}

.statcellpiecegrid div:after {
	background-image: inherit;
	content: " ";
	position: absolute;
	height: 140%;
	width: 140%;
	top: -20%;
	left: -20%;
}

h1 {
	text-align: center;
	font-size: 2.5em;
	margin: 0;
}

#fin_score {
	font-size: 3.5em;
	text-align: center;
	line-height: 1;
	margin: .8em 0 .2em;
}

body.new_score #fin_score {
	margin: .3em 0;
}

#fin_level, #fin_lines {
	font-size: 2.5em;
}

#start img {
	width: 40rem;
	max-width: 70%;
	margin: 10% auto 5%;
	display: block;
}

#pw {
	@include textfield();

	$padding-sides: .5em;
	font-size: 1em;
	border-radius: .25em;
	padding: .2em $padding-sides;
	max-width: calc(70% - #{$padding-sides * 2});
	width: calc(40rem - #{$padding-sides * 2});
	display: block;
	margin: 0 auto .5em;
}

#pw_submit,
#retry_scores {
	@include button($scale: 0.75);

	color: $color-text-button;
	font-size: 1em;
	border-radius: .25em;
	padding: 0;
	max-width: 70%;
	width: 40rem;
	font-family: $Baloo;

	&:disabled {
		cursor: default;
	}
}

#not_playing {
	height: 100%;
}

#not_playing > div {
	flex-basis: 50%;
}

#layout_outer {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#right_container, #under_container {
	color: #FFF;
	text-align: center;
	font-size: 1.35em;
}

#under_fill {
	flex-direction: column;
	justify-content: space-around;
}

#under_container {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	justify-content: space-around;
	overflow-y: auto;
}

#u_preview_container {
	margin: auto;
}

#r_score, #r_level, #r_lines, #r_preview_container {
	margin-bottom: .75em;
}

#r_score, #r_level, #r_lines {
	line-height: 1.05;
}

#r_score span, #r_level span, #r_lines span {
	font-size: .75em;
	vertical-align: top;
}

#u_left, #u_right {
	min-width: 8em;
}

#u_left {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	justify-content: space-evenly;
}

#r_preview, #u_preview {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}

#r_preview:before, #u_preview:before {
	content: " ";
	display: block;
	width: 100%;
	padding-top: 100%;
	grid-area: 1 / 1 / 2 / 2;
}

#r_btns,
#u_btns {
	display: flex;
	justify-content: space-around;
	justify-content: space-evenly;
	flex-wrap: wrap;

	button {
		@include button($scale: 0.5);

		color: $color-text-button;
		border-radius: .25em;
		padding: 0 .3em;
		font-size: 1em;
		font-family: $Baloo;
	}
}

#grid_container {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
}

#grid, #locked, #board, #ghost, #pause_screen {
	display: grid;
	grid-template-rows: repeat(18, 1fr);
	grid-template-columns: repeat(10, 1fr);
	width: 100%;
	position: absolute;
	grid-gap: 1px;
	gap: 1px;
}

#ghost {
	opacity: .5;
}

#high_scores {
	display: flex;
	flex-direction: column;
	padding: .3em .3em 0;
	overflow-y: auto;

	> div:not(#scores_msg) {
		margin-top: .3em;
		background: #606060;
		border-radius: .4em;
		display: flex;
		padding: 0 1em;
		align-items: center;
		justify-content: space-between;

		> div {
			height: 3.5em;
			width: 3.5em;
			background-repeat: no-repeat;
			background-size: 85%;
			background-position: center;
			border-radius: 50%;
			margin: .2em 0;
			background-color: scale-color(#606060, $lightness: -20%);
		}

		@mixin images ($letter) {
			&.score_#{$letter} {
				&:nth-child(2) > div {
					background-image: url("/svg/#{$letter}1.svg");
				}

				&:nth-child(3) > div {
					background-image: url("/svg/#{$letter}2.svg");
				}

				&:nth-child(4) > div {
					background-image: url("/svg/#{$letter}3.svg");
				}

				> div {
					background-image: url("/svg/#{$letter}+.svg");
					position: relative;
				}
			}
		}

		@include images(s);
		@include images(p);
		@include images(d);

		&.score_d > div:after {
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url("/svg/psalternate.disconnected.svg");
		}

		> span {
			font-size: 2.25em;
			color: #FFF;
		}
	}
}

body:not(.game_paused) #pause_screen {
	display: none;
}

#pause_screen {
	background: #424242;
	box-shadow: 0 0 0 3px #424242;
}

#paused_logo #play_btn {
	background-color: #606060;
	background-image: url(/svg/tetris/play.svg);
	cursor: pointer;
	border: 0;

	&:hover,
	&:focus {
		background-color: #00acc1;
	}
}

#grid_height, #grid {
	position: relative;
}

#locked {
	grid-template-columns: 1fr;
}

#locked > div {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(10, 1fr);
	width: 100%;
	grid-gap: 1px;
	gap: 1px;
}

#locked, #board, #ghost, #pause_screen {
	height: 100%;
	top: 0;
}

#paused_logo {
	display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    gap: 5px;
    border: 3px solid transparent;
    border-width: 3px 0;
	grid-area: 8 / 1 / 12 / 11;
}

#paused_logo > div {
	background: #9E9E9E;
}

.game_piece {
	display: grid;
	grid-gap: 1px;
	gap: 1px;
}

#right_fill {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.game_msg {
	position: absolute;
	color: #FFF;
	width: 100%;
	text-align: center;
	font-size: 2em;
	animation: fadeup 3.0s cubic-bezier(0.75, 0, 0.75, 0);
	line-height: 1;
}

#start_btn {
	@include button();

	width: 40rem;
	max-width: 70%;
	margin: 0 auto 7%;
	display: block;
	font-size: 1.75em;
	padding: .1em .15em;
	border-radius: .4em;
	color: $color-text-button;
	font-family: $Baloo;
}

#u_pause:after, #r_pause:after {
	content: "Pause";
}

.game_paused #u_pause:after, .game_paused #r_pause:after {
	content: "Play";
}

body:not(.scores_err) #scores_msg {
	display: none;
}

.scores_err #high_scores > div:not(#scores_msg) {
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	$normal-color: #606060;

	@include animation-keyframes {
		from {
			background-color: $normal-color;
		}

		to {
			background-color: transparentize($normal-color, .5);
		}
	}
}

#scores_msg {
	color: #FFF;
	text-align: center;
	font-size: 1.75em;
	padding: .5em 0 .3em;
	line-height: 1.1;
}

#scores_msg button {
	display: block;
	margin: auto;
	padding: .1em .15em;
	color: #FAFAFA;
	border: .1em solid #FFF;
	font-size: inherit;
	border-radius: .25em;
	width: 70%;
	background: #424242;
	cursor: pointer;
}

#scores_msg button:hover, #scores_msg button:focus {
	background: #606060;
}

@keyframes fadeup {
	0% {
		opacity: 1;
		top: 3em;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		top: 1em;
	}
}

@media (min-aspect-ratio: 20/18) {
	#left_fill, #right_fill {
		display: flex;
		flex-grow: 1;
	}

	#under_fill {
		display: none;
	}

	#grid_height, #grid, #locked, #board, #ghost, #pause_screen {
		height: 100%;
	}
}

@media (min-aspect-ratio: 15/18) and (max-aspect-ratio: 20/18) {
	#right_fill {
		display: flex;
		flex-grow: 1;
	}

	#left_fill {
		display: flex;
	}

	#under_fill {
		display: none;
	}

	#grid, #locked, #board, #ghost, #pause_screen, #grid_height {
		height: 100%;
	}
}

@media (min-aspect-ratio: 15/23) and (max-aspect-ratio: 15/18) {
	#right_fill {
		display: flex;
		flex-basis: 33.3333%;
	}

	#left_fill, #under_fill {
		display: none;
	}

	#grid_container {
		flex-basis: 66.6667%;
	}

	#grid div {
		padding-top: 100%;
	}
}

@media (max-aspect-ratio: 15/23) {
	#left_fill, #right_fill, #under_fill {
		display: flex;
	}

	#grid, #board, #ghost, #pause_screen, #grid_height {
		height: 100%;
	}

	#layout {
		flex-basis: 78.2609%;
		max-height: 180vw;
		flex-shrink: 0;
	}

	#under_fill {
		flex-basis: 21.7391%;
		max-height: 21.7391%;
		flex-shrink: 1;
	}

	#right_fill div {
		display: none;
	}
}

@media (max-aspect-ratio: 2/1) {
	body:not(.playing) #not_playing {
		display: block;
	}

	#restart {
		overflow-y: initial;
	}
}

#grid div,
#locked div div,
#pause_screen div,
.game_piece div {
	position: relative;
}

#grid div:after,
#locked div div:after,
#pause_screen > div:not(#paused_logo):after,
.game_piece div:after {
	content: " ";
	position: absolute;
	height: 140%;
	width: 140%;
	top: -20%;
	left: -20%;
	pointer-events: none;
}

#grid div:after,
#pause_screen > div:not(#paused_logo):after {
	background-image: url(/svg/tetris/tetromino/empty.svg);
}